
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
header > h1{
    color: white;
    text-align: center;
    vertical-align: bottom;
}
header {
    background-image: linear-gradient(white, orangered);
}

nav {
    height: 50px;
    background-color: grey;
    margin-top: 4em;

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenu {
    min-width: 80%;
}

article, section {
    height: 3em;
}
article > p{
    margin-bottom: 20px;
}

section {
    background-color: #ff0;
}

aside > div > h3{
    color: white;
    background-color: orangered;
}

aside {
    height: 18em;
    width: 20%;
    background-color: white;
    border-color: grey;
}

footer {
    height: 8em;
    background-color: #ccc;
}

nav > ul{
    font-size: 150%;
}