/* layout */
body{
    margin-left: 10%;
    margin-right: 10%;
}

main {
    display: flex; /* d'abord il place puis il dimenionne*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: stretch; /* si arrère plan*/
}

main nav {
    min-width: 250px;
}

main aside{
    min-width: 200px;
    align-self: flex-end;
    display:flex;
}

nav > ul
{
    display:flex;
    list-style:none;
}



/* Flex*/

/* GRID */
