@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    position: relative;
    min-height: 150px;
    margin:0 auto;
    text-align: justify-all;
    display: flex;
    vertical-align: middle;
}

body > header > h1 {
    font-size:30px;
    text-align:center;
    width:100%;
    background-image: linear-gradient(180deg, rgb(247,195,169) 0%, rgba(224,70,7,0.9)   100%);
}
body > header>nav{
    background-color: rgb(38,41,42);
}
body > header > nav > ul > li.active {
    background: #ffffff;
}

body > header > nav > ul > li.active > a {
    color:rgba(224,70,7,0.9);
}

body > footer {
    left: 0;
    bottom: 0;
    background-color: rgb(38,41,42);
    color: white;
    text-align: center;
    clear: both;
    margin-bottom: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    max-width: 1240px;
}
body > header > nav {
    font-size: 18px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
body > header > nav > ul{
    list-style-type: none;
}
body > header > nav > ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
body > header > nav > ul > li.hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

body > header > nav > ul > li:not(.hamburger) {
    list-style-type: none;
    display: none;
}



body > main > section > article {
}

body > main > section > article> header>h2 {
    margin-top: 15px;
    border-bottom: 1px solid grey;
}

body > main > section > article > header > p {
    color:grey;
    font-style: italic;
    text-align: right;
    margin-bottom: 20px;
}

body > main > aside {
    margin-top:10px;
    border: solid 1px #555;
    box-shadow:  0 0 20px  rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.7);
    -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
}
body > main > aside > div > ul {
    list-style-type: none;
}
body > main > aside > div > h3 {
    background-color: rgba(224,70,7,0.9);
    color:white;
    height: 30px;
}
body > main > aside > div > ul > li {
    margin-left: 20px;
    margin-top :10px;
}
body > main > aside > div > ul > li:last-child {
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    body > header > nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 30px;
        align-items: center;
    }

    body > header > nav > ul  {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    body > header > nav > ul > li:not(.hamburger) {
        margin: 0;
    }

    body > header > nav > ul > li:not(.hamburger) {
        margin-left: 40px;
        list-style-type: none;
        display: block;
    }

    body > header > nav > ul > li.hamburger {
        display: none;
    }

    body > header > nav > ul > li.hamburger:hover,
    header > nav > ul > li:not(.hamburger) > a {
        color: rgba(255, 255, 255, 1);
    }

    main {
        display: flex;
    }
    section{
        flex:3;
        margin: 0 1.5%;
        min-width: 70%;
    }
    aside{
        flex:1;
        width: 23%;
        margin: 0 1.5% auto;
    }
}

body > main > section > article > table {
    border: 1px solid #D66A29;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
body > main > section > article > table td, body > main > section > article > table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
body > main > section > article > table tbody td {
    font-size: 13px;
    color: #000000;
}
body > main > section > article > table tr:nth-child(even) {
    background: #EFC0A1;
}
body > main > section > article > table thead {
    background: #D66A29;
    background: -moz-linear-gradient(top, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    background: -webkit-linear-gradient(top, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    background: linear-gradient(to bottom, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    border-bottom: 2px solid #444444;
}
body > main > section > article > table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D66A29;
}
body > main > section > article > table thead th:first-child {
    border-left: none;
}

body > main > section > article > table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D6B7A4;
    background: -moz-linear-gradient(top, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    background: -webkit-linear-gradient(top, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    background: linear-gradient(to bottom, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    border-top: 2px solid #444444;
}
body > main > section > article > table tfoot td {
    font-size: 14px;
}
body > main > section > article > table tfoot .links {
    text-align: right;
}
body > main > section > article > table tfoot .links a{
    display: inline-block;
    background: #D66A29;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
/*Atteindre les images sans id*/
footer > img:nth-of-type(1) {
}

footer > img:nth-of-type(2) {
}

