@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');


/*region generale */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
body {
    max-width: 1240px;
    margin:auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
img{
    max-width: 100%;
    height: auto;
}
/* endregion generale*/

/* region header */
body > header {
    flex-wrap: wrap;
    flex:1;
    position: relative;
    min-height: 150px;
    max-height: 150px;
    display: flex;

}

body > header > h1 {
    font-size:30px;
    text-align:center;
    flex:1;
    padding-top: 4%;
    background-image: linear-gradient(180deg, rgb(247,195,169) 0%, rgba(224,70,7,0.9)   100%);

}

body > header> nav{
    width: 100%;
    min-height: 30px;
    background-color: rgb(38,41,42);
}

body > header > nav > ul li {
    padding: 5px;
    box-sizing: border-box;
}

body > header > nav > ul {
    flex:1;
}

body > header > nav > ul > li.active {
    background: #ffffff;
}

body > header > nav > ul > li.active > a {
    color:rgba(224,70,7,0.9);
}

body > header > nav {
    font-size: 18px;
    position: absolute;
    flex:1;
    bottom: 0;
}
body > header > nav > ul{
    list-style-type: none;
}
body > header > nav > ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

body > header > nav > ul > li.hamburger {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
}
/* endregion header */

/* region main */

body > main {
    display: flex;
    flex:1;
}


body > main > section > article > p{
    margin-bottom: 20px;
}

body > main > section > article> header>h2 {
    margin-top: 15px;
    border-bottom: 1px solid grey;
}

body > main > section > article > header > p {
    color:grey;
    font-style: italic;
    text-align: right;
    margin-bottom: 20px;
}

body > main > aside {
    margin-top:10px;
    border: solid 1px #555;
    box-shadow:  0 0 20px  rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.7);
    -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
}
body > main > aside > div > ul {
    list-style-type: none;
}
body > main > aside > div > h3 {
    background-color: rgba(224,70,7,0.9);
    color:white;
    height: 30px;
}
body > main > aside > div > ul > li {
    margin-left: 20px;
    margin-top :10px;
}
body > main > aside > div > ul > li:last-child {
    margin-bottom: 30px;
}

body > main {
    flex-direction: column;
}
body > main > section{
    flex:3;
    margin: 0 1.5%;
}
body > main > aside{
    flex:1;
    margin: 1.5% 1.5% 1.5% 1.5%;
}
/* endregion main */

/* region footer */
body > footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(38,41,42);
}

footer > div:nth-of-type(1) {
    flex:1;
    margin: 10px 10px 10px 10px;
}
footer > div:nth-of-type(2) {
    flex:5;
}
footer > div:nth-of-type(3) {
    flex:2;
    width: 100%;
    height: auto;
    margin: 15px 15px 15px 15px;
}
/* endregion footer*/

/* region table journal de bord */
body > main > section > article > table {
    border: 1px solid #D66A29;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
body > main > section > article > table td, body > main > section > article > table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
body > main > section > article > table tbody td {
    font-size: 13px;
    color: #000000;
}
body > main > section > article > table tr:nth-child(even) {
    background: #EFC0A1;
}
body > main > section > article > table thead {
    background: #D66A29;
    background: -moz-linear-gradient(top, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    background: -webkit-linear-gradient(top, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    background: linear-gradient(to bottom, #e08f5e 0%, #da793e 66%, #D66A29 100%);
    border-bottom: 2px solid #444444;
}
body > main > section > article > table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D66A29;
}
body > main > section > article > table thead th:first-child {
    border-left: none;
}

body > main > section > article > table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D6B7A4;
    background: -moz-linear-gradient(top, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    background: -webkit-linear-gradient(top, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    background: linear-gradient(to bottom, #e0c9bb 0%, #dabead 66%, #D6B7A4 100%);
    border-top: 2px solid #444444;
}
body > main > section > article > table tfoot td {
    font-size: 14px;
}
body > main > section > article > table tfoot .links {
    text-align: right;
}
body > main > section > article > table tfoot .links a{
    display: inline-block;
    background: #D66A29;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
/* endregion table journal de bord */

/* region hambuger menu */
@media screen and (max-width: 767px) {
    body > header > nav {
        text-align: center;
    }
    body > header > nav > ul {
        flex-direction: column;
        display: inline-flex;
    }

    body > header > nav > ul > li {
        border: 1px solid black;
    }
    body > header > nav > ul > li > a{
        flex:1;
        text-align: center;
    }
    body > header > nav > ul > li.hamburger{
        display: flex;
        height: 30px;
        align-items: center;
    }
    body > header > nav > ul > li:not(.hamburger){
        display: none;
    }
    body > header > nav > ul.menuOpen {
        position: fixed;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0,0,0,0.8);
    }
    body > header > nav > ul.menuOpen > li.hamburger > img{
        margin-left: 45%;
    }

    body > header > nav > ul.menuOpen > li.hidden {
        display: none;
    }
    body > header > nav > ul.menuOpen > li.visible {
        display: flex;
    }
    footer > div:nth-of-type(1) {
        display: none;
    }
    footer > div:nth-of-type(2) {
        display: none;
    }
}
/* endregion */

@media screen and (min-width: 768px) {

    /* region header */
    body > header > nav {
        padding-bottom: 0;
        height: 30px;
        align-items: center;
        flex:1;
        display: block;
    }

    body > header > nav > ul  {
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-start;
        flex:1;
        display: flex;
    }

    body > header > nav > ul > li:not(.hamburger) {
        margin: 0 0 0 40px;
        list-style-type: none;
        display: flex;
    }

    body > header > nav > ul > li.hamburger {
        display: none;
    }

    body > header > nav > ul > li.hamburger:hover,
    header > nav > ul > li:not(.hamburger) > a {
        color: rgba(255, 255, 255, 1);
    }
    /* endregion header */

    /* region main */
    body > main {
        flex-direction: row;
    }
    body > main > section{
        flex:3;
        margin: 0 1.5%;
    }
    body > main > aside{
        flex:1;
        margin: 1.5% 1.5% auto;
    }
    /* endregion main */

    #avatarZone, #playerName
    {
        float:left;
    }

    #avatarZone
    {
        width: 50px;
        height: 50px;
        padding: 2px;
        border: 1px solid #7bff00;
    }
    #avatar1, #avatar2
    {
        width: 45px;
        height: 45px;
    }
    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }

    .commentZone
    {
        width:140px;
        float:left;
        height:100%;
    }
}
